:host {
  display: block;
  border: 1px solid gray;
  border-radius: 3px;
  /* padding: 15px; */
  background: #ececec;
  margin: 15px 0;
  box-shadow: 3px 3px 2px #ccc;
  /* transition: border-color 0.3s ease-in-out; */
}

/* :host(.marked) {
  padding: 14px;
} */

:host(.inactive) {
  color: #ccc;
}

.form-control {
  display: inline-block;
  width: 50%;
}