<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>
        My quote
      </h1>
      <div class="interesting">
        <app-quote (click)="isFavourite = !isFavourite" [ngClass]="{'favourite super-favourite': isFavourite}"
          [ngStyle]="{'width.px': isFavourite? 600:400}">
        </app-quote>
      </div>
      <button class="btn btn-primary" (click)="onShowBoring(boringBlock)">Show boring Quotes</button>
      <div class="boring" #boringBlock style="display:none">
        <div id="very-boring">
          <app-quote></app-quote>
        </div>
      </div>
    </div>
  </div>
</div>